body {
    background-image: url("images/butterflybg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family:"cinzel", serif;
    font-style:italic;
    background-attachment: fixed;
}

h1 {
    color: #511e0a;
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    padding-top: 50px;
    text-shadow: 2px 2px 0px rgb(231, 199, 180);
}
.butterfly-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    margin: 0 auto;
   
}
.butterfly-card {
    vertical-align: top;
    background-color:bisque;
    border-radius: none;
    width: 320px;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(74, 35, 6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.butterfly-card img {
    width: 100%;
    border-radius: 8px;
}
 
a {
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #4b2e1e;
}
.butterfly-card:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px)
}
a:hover {
    color: goldenrod;
}