body {
    background-color: #cfa37e;
    font-family:"cinzel", serif;
    font-style:italic;
}

h1 {
    color: #511e0a;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3);
}
.butterfly-gallery {
    display:inline-flex;
    justify-content: center;
    align-items:flex-start;
    padding: 20px;
    margin: 20px;
}
.butterfly-card {
    background-color:bisque;
    border-radius: none;
    width: 300px;
    margin: 15px;
    box-shadow: 0 4px 8px rgb(74, 35, 6);
}
a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #4b2e1e;
}

a:hover {
    color: goldenrod;
}